.card {
  width: 95%;
  max-width: 40rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
}

.card h1 {
  text-align: center;
  font-size: 2rem;
}

.card h2 {
  text-decoration: underline;
}
